.products{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.product{
    position: relative;
    /* overflow: hidden; */
}
.product .product-image{
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}
.product .product-desc{
    font-size: .8rem;
    width:-webkit-fill-available;
    position: absolute;
    background-color: rgba(0,0, 0, .8);
    padding: 15px;
    transition: all .2s ease-in-out;
    color: white; 
    bottom: 50px;
    display: none;
}
.product .product-image:hover + .product-desc{
    display: block;
}
.product .product-price{
    position: absolute;
    right: 0;
   background-color:rgba(163, 37, 15) ;
   font-weight: bold;
   font-size: 22px;
   padding: 5px 10px;
   border-top-right-radius: 10px;
}
.product-btn{
    display:block ;
    margin: auto;
    background-color: #111;
    color: white;
}